<header class="header">
  {{navbar-component}}
</header>
<div class="container">
  {{create-note model=model}}
  {{notes-component model=model}}
  {{notes-done model=model}}
  {{outlet}}
</div>
{{footer-component}}
{{!-- <button {{action 'openModal' 'myModal'}}>Open modal</button>
{{outlet 'modal'}} --}}
